        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #F0F8FF, #B0E0E6);
            color: #333;
            overflow-x: hidden;
        }

        header {
            background-color: #000080;
            text-align: left;
            overflow: hidden;
            margin: 0;
            padding: 10px;
        }

        marquee {
            font-size: 18px;
            padding: 5px;
            white-space: nowrap;
            color: white;
        }

        nav {
            background-color: #4682B4;
            padding: 10px;
            text-align: left;
            display: flex;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
            background-color: #5F9EA0;
            display: inline-block;
        }

        nav a:hover {
            background-color: #778899;
        }

        .logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .right-buttons {
            margin-left: auto;
        }

        .right-buttons button {
            color: white;
            background-color: #000080;
            border: none;
            padding: 10px 15px;
            margin: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .right-buttons button:hover {
            background-color: #1E90FF;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px;
        }

        .card {
            width: 200px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: #333;
            overflow: hidden;
            transition: transform 0.3s;
        }

        .card img {
            width: 100%;
            border-radius: 5px;
        }

        .card:hover {
            background-color: #87CEEB;
            transform: scale(1.05);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            color: #4682B4;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        footer {
            background-color: #000080;
            color: white;
            text-align: center;
            padding: 25px;
            position: static;
            bottom: 0;
            width: 100%;
        }