<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiShop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='major.css') }}">

</head>
<body>
    <header>
        <marquee behavior="scroll" direction="left" scrollamount="15">
            MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24 MS24
        </marquee>
    </header>

    <nav>
        <img src="multiLogo" alt="Logo" class="logo">
        <a href="#">Магазин</a>
        <a href="#">Каталог</a>
        <a href="#">Гифтбоксы</a>
        <a href="#">Сторы</a>
        <div class="right-buttons">
            <a>Войти</a>
            <a>Авторизоваться</a>
        </div>
    </nav>

    <div class="card-container">
        <div class="card">
            <a href="#">
                <img src="https://kgmart.ru/images/uploads/thumbs/product/461615/1200x0_337309c1a1b89fd20e7f127065b9ab27.png" alt="Card 1">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.insales-cdn.com/r/5HggcBnSRKU/rs:fit:1000:0:1/q:100/plain/images/products/1/2928/562015088/03_1722423.jpg" alt="Card 2">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/36c9bd38-bbf3-4e5f-9fb4-e4ef3938abea/therma-mens-therma-fit-tapered-fitness-pants-wL87VN.png" alt="Card 3">
            </a>
        </div>
    </div>

        <div class="card-container">
        <div class="card">
            <a href="#">
                <img src="https://kgmart.ru/images/uploads/thumbs/product/461615/1200x0_337309c1a1b89fd20e7f127065b9ab27.png" alt="Card 1">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.insales-cdn.com/r/5HggcBnSRKU/rs:fit:1000:0:1/q:100/plain/images/products/1/2928/562015088/03_1722423.jpg" alt="Card 2">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/36c9bd38-bbf3-4e5f-9fb4-e4ef3938abea/therma-mens-therma-fit-tapered-fitness-pants-wL87VN.png" alt="Card 3">
            </a>
        </div>
    </div>



        <div class="card-container">
        <div class="card">
            <a href="#">
                <img src="https://kgmart.ru/images/uploads/thumbs/product/461615/1200x0_337309c1a1b89fd20e7f127065b9ab27.png" alt="Card 1">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.insales-cdn.com/r/5HggcBnSRKU/rs:fit:1000:0:1/q:100/plain/images/products/1/2928/562015088/03_1722423.jpg" alt="Card 2">
            </a>
        </div>

        <div class="card">
            <a href="#">
                <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/36c9bd38-bbf3-4e5f-9fb4-e4ef3938abea/therma-mens-therma-fit-tapered-fitness-pants-wL87VN.png" alt="Card 3">
            </a>
        </div>
    </div>


    {% if data %}
    <table border="1">
        <thead>
            <tr>
                {% for column in data.column_names %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in data.data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <footer>
        <p>&copy; 2024 MultiShop. All rights reserved.</p>
    </footer>
</body>
</html>
